@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Instrument+Serif:ital@0;1&family=Limelight&family=MedievalSharp&family=Quintessential&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.t1{
    padding: 10px 20px;
    text-align: left;
    background-color: rgb(49, 48, 48);
    color: white;
    font-family: 'Covered By Your Grace';
}
.t1>h1>a{
    text-decoration: none;
    padding: 10px;
    text-align: left;
    background-color: rgb(49, 48, 48);
    color: white;
    font-family: 'Covered By Your Grace';
    }

.titulo2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.514)), url(../pag01/fotos/jujutsu\ kaisen\ wallpaper\ mangá.jpg);
    padding: 20px;
    height: 100px;
    font-weight: bolder;
    background-size: cover;
    background-position: center;
}

body{
    background-color: rgb(22, 22, 22);
}

form > p{
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.info{
    color: rgb(114, 114, 114);
    padding: 10px;
    text-align: center;
}

.rodape>p{
    padding: 10px;
    text-align: center;
    color: rgb(114, 114, 114);
}
.rodape>p>a{
    text-align: center;
    text-decoration: none;
    color: rgb(114, 114, 114);
    padding: 10px;
}

.rodape>p>a:hover{
    color: rgb(255, 255, 255);
}

.bot input{
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    background-color: rgb(1, 34, 78);
}

hr{
    margin: 20px;
}


.fl{
    text-align: center;
    padding: 0px 20px 20px 10px;
}

.fl>h1>a{
    font-family: 'Covered By Your Grace';
    text-decoration: none;
    color: white;
}